{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block estilo %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  -->
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}

        {% block titulo %}
            <title> Sistema de Gestão de Demandas </title>
        {% endblock %}

    </head>

    <body>
        {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark barraMenu">
                <a class="navbar-brand" href="{% url 'index' %}" id="logo-link">
                    <div id="texto-da-logo">
                        <p class="logo-texto"> SGDv1 </p>
                    </div>
                </a>
                <div id="usuarioLogado" class="ml-auto">
                    {% if user.is_authenticated %}
                    <ul class="opcoesDoMenu">
                        <li> <p class="usuarioLogado"> {{ user.username }} </p> </li>
                        <li> <a href="{% url 'logout' %}"> <strong> Sair </strong></a> </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}


        {% block conteudo %}
        
            <h1> Sistema de Gestão de Demandas </h1>
            
            <p> Lab Dev Software </p>
        {% endblock %}
    </body>

    {% block rodape %}
        <footer class="bg-black small text-center text-white-50">
                <div class="text-white itemRodape">
                    &copy; Todos os direitos reservados
                </div>
                <div class="text-white itemRodape">
                    2023
                </div>
        </footer>
    {% endblock %}

</html>

