{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    <title> Detalhe da Demanda </title>

{% endblock %}


{% block conteudo %}
    <h3> Detalhamento da Demanda </h3>
    <div class="detalhe-demanda">        
        <p> <strong>Título:</strong> {{ object.tituloDemanda }} </p>
        <p> <strong>Descrição:</strong> {{ object.descricaoDemanda }} </p>
        <p> <strong>Prioridade:</strong> {{ object.prioridade }} </p>
        <p> <strong>Status:</strong> {{ object.status }} </p>
        <p> <strong>Prazo:</strong> {{ object.prazo }} </p>
        <p> <strong>Data de Criação:</strong> {{ object.dataDeCriacao }} </p>
        <p> <strong>Data de Encerramento:</strong> {{ object.dataDeEncerramento }} </p>
    </div>

    <div style="margin-bottom: .5rem; padding: 0.5%;">
        <button class="button-options" value="voltar" onclick="history.go(-1)">Voltar</button>
    </div>
{% endblock %}


