{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    <title> Editar Demanda </title>

{% endblock %}

{% block conteudo %}
    <h3> Editando Demanda </h3>

    <div class="form-container">

        <div>
            <form method="post" action="" class="form-criarDemanda" onsubmit="return confirmSubmit()">
                {% csrf_token %}
    
                <div class="form-group form-item">
                    {{ form.tituloDemanda.errors }}
                    <label for="{{ form.tituloDemanda.id_for_label }}" class="negrito"> Título: </label>
                    {{ form.tituloDemanda }}
                </div>
    
                <div class="form-group form-item">
                    {{ form.descricaoDemanda.errors }}
                    <label for="{{ form.descricaoDemanda.id_for_label }} " class="negrito"> Descrição: </label>
                    {{ form.descricaoDemanda }}
                </div>
    
                <div class="form-item">
                    {{ form.prioridade.errors }}
                    <label for="{{ form.prioridade.id_for_label }}" class="negrito label"> Prioridade: </label>
                    {{ form.prioridade }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- Gambiarra pra ajudar no layout do label -->
                    {{ form.status.errors }}
                    <label for="{{ form.status.id_for_label }}" class="negrito label"> Status: </label>
                    {{ form.status }}
                </div>
    
                <div class="form-item">
                    {{ form.prazo.errors }}
                    <label for="{{ form.prazo.id_for_label }}" class="negrito"> Prazo: </label> &nbsp;
                    {{ form.prazo }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ form.dataDeEncerramento.errors }}
                    <label for="{{ form.dataDeEncerramento.id_for_label }}" class="negrito"> Data de Encerramento: </label> &nbsp;
                    {{ form.dataDeEncerramento }}
                </div>
    
                <div class="button-group">
                    <button class="btn-padrao btn-cancel "> 
                        <a href="{% url 'demanda-listar' %}">  Cancelar </a>
                    </button>
                    <button type="submit" class="btn-padrao btn-submit"> Salvar Edição </button>
                </div>
            </form>
        </div>

    </div>

    <script>
        function confirmSubmit() {
            return confirm('Deseja realmente salvar as alterações?');
        }

        function redirectToIndex() {
            // Redirecionar para a página de edição se cancelar no alert
            window.location.href = "{% url 'editar-demanda' pk=demanda.pk %}";
        }
    </script>

{% endblock %}


