{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    <title> Lista de Demandas </title>

{% endblock %}

<!-- ADICIONAR BOTÕES DE EDITAR/EXCLUIR E ATRIBUIR AO DEV -->

{% block conteudo %}
    <div>
        <h3> Lista de todas as Demandas </h3>
        <table class="tabela-listar-demandas">
            <thead>
                <tr>
                    <th> Título </th>
                    <th> Prioridade </th>
                    <th> Status </th>
                    <th> Prazo </th>
                </tr>
            </thead>
            <tbody>
                {% for demanda in object_list %}
                    <tr>
                        <td><a href="{{ demanda.get_absolute_url }}" class="list-link">{{ demanda.tituloDemanda }}</a></td>
                        <td> {{ demanda.prioridade }} </td>
                        <td> {{ demanda.status }} </td>
                        <td> {{ demanda.prazo }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-bottom: .5rem; padding: 0.5%;">
        <button class="button-options" value="voltar" onclick="history.go(-1)">Voltar</button>
    </div>
    
{% endblock %}

