{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    <title> Lista de Demandas </title>
{% endblock %}

{% block conteudo %}
    <div>
        <h3> Lista de todas as Demandas </h3>
        <table class="tabela-listar-demandas">
            <thead>
                <tr>
                    <th> Título </th>
                    <th> Prioridade </th>
                    <th> Status </th>
                    
                    <th> Encaminhar </th>
                    <th> Responsável </th>
                    <th> Ações </th>
                </tr>
            </thead>
            <tbody>
                {% for demanda in object_list %}
                    <tr>
                        <td><a href="{{ demanda.get_absolute_url }}" class="list-link">{{ demanda.tituloDemanda }}</a></td>
                        <td> {{ demanda.prioridade }} </td>
                        <td> {{ demanda.status }} </td>
                        <td>
                            {% if demanda.encaminhar_para %}
                                {{ demanda.encaminhar_para.username }}
                            {% else %}
                                <a href="{% url 'encaminhar-demanda' pk=demanda.pk %}" class="btn btn-dark" > Encaminhar > </a>
                            {% endif %}
                        </td>
                        <td> {{ demanda.atribuido_a }} </td>
                        <td>
                            <a href="{% url 'editar-demanda' pk=demanda.pk %}" class="btn btn-warning"> Editar </a>
                            <a href="{% url 'demanda-excluir' pk=demanda.pk %}" class="btn btn-danger" onclick="return confirmDelete()"> Excluir </a>
                        </td>
                    </tr>

                    
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div> 
        <button class="btn-padrao btnVoltar"> 
            <a href="{% url 'index' %}" class="negrito">  Voltar </a>
        </button>
    </div>

    
{% endblock %}

