{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    <title> Detalhe da Demanda </title>

{% endblock %}


{% block conteudo %}
    <h3> Detalhamento da Demanda </h3>
    <div class="detalhe-demanda">        
        <p> <strong>Título:</strong> {{ object.tituloDemanda }} </p>
        <p> <strong>Descrição:</strong> {{ object.descricaoDemanda }} </p>
        <p> <strong>Prioridade:</strong> {{ object.prioridade }} </p>
        <p> <strong>Status:</strong> {{ object.status }} </p>
        <p> <strong>Prazo:</strong> {{ object.prazo }} </p>
        <p> <strong>Data de Criação:</strong> {{ object.dataDeCriacao }} </p>
        <p> <strong>Data de Encerramento:</strong> {{ object.dataDeEncerramento }} </p>

        <a href="{% url 'editar-demanda' pk=demanda.pk %}" class="btn btn-warning"> Editar </a>
        <a href="{% url 'demanda-excluir' pk=demanda.pk %}" class="btn btn-danger" onclick="return confirmDelete()"> Excluir </a>
        <a href="{% url 'demanda-listar' %}" class="btn btn-dark"> Todas as Demandas </a>
        <a href="{% url 'demanda-criar' %}" class="btn btn-primary"> Criar Nova Demanda </a>

    </div>

    <!-- TESTANDO EXIBIÇÃO DE TAREFAS PARA CADA DEMANDA -->
        <div>
            <h4> Tarefas dessa Demanda: </h4>
            <table class="tabela-listar-demandas">
                <thead>
                    <tr>
                        <th> Tarefa </th>
                        <th> Status </th>
                        <th> Equipe/Dev </th>
                    </tr>
                </thead>
                <tbody>
                    {% for demanda in object_list %}
                        <tr>
                            <td><a href="{{ demanda.get_absolute_url }}" class="list-link">{{ demanda.tituloDemanda }}</a></td>
                            <td> {{ demanda.descricaoDemanda }} </td>
                            <td> {{ demanda.status }} </td>
                            <td> {{ demanda.prazo }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Adicionar botão de criar tarefas -->
        </div>


<!--         <div>
            <button class="btn-padrao btnVoltar" value="voltar" onclick="history.go(-1)"> Voltar </button>
        </div> -->
{% endblock %}


