{% extends 'base.html' %}

{% block titulo %}
    <title> Encaminhar Demanda </title>
{% endblock %}

{% block conteudo %}
    <h3> Encaminhando Demanda </h3>

    <div class="formEncaminharDemanda">
        
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-outline-secondary"> 
                <a href="{% url 'demanda-listar' %}" class="negrito"> Voltar </a>
            </button>
            
            <button type="submit" class="btn btn-outline-secondary negrito"> Encaminhar </button>
        </form>

    </div>

    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}





{% endblock %}


