{% extends 'base.html' %}

{% load static %}

    {% block titulo %}
        <title> Login | Sistema de Gestão de Demandas </title>
    {% endblock %}

    <body>
        {% block conteudo %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h1 class="logo-texto"> SGDv1 </h1>
            <!-- <img class="logo" src="" alt=" Imagem do Sistema "> -->
        </nav>
        <div class="wrapper">
            <div id="formContent">
                <div class="">
                    <p> Sistema de Gestão de Demandas <p>
                </div>
                
                <p> Form de Login </p>
                <form action="" method="POST">

                    <input type="submit" class="fadeIn fourth" value="Entrar">
                </form>
                
                <div id="formFooter">

                </div>
            </div>
        </div>
        {% endblock %}
    </body>
