{% extends 'base.html' %}

{% load static %}

    {% block titulo %}
        <title> Login | Sistema de Gestão de Demandas </title>
    {% endblock %}

    <body>

        {% block conteudo %}
            <div class="wrapper">
                <div id="formContent">
                    <div class="titulo-loginPage">
                        <h4>Sistema de Gestão de Demandas</h4>
                    </div>

                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <form action="{% url 'login' %}" method="POST" class="custom-form">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="username"> Usuário: </label>
                            <input type="text" id="username" name="username" required class="input-login">
                        </div>

                        <div class="form-group">
                            <label for="password"> Senha: </label>
                            <input type="password" id="password" name="password" required class="input-login">
                        </div>  

                        <div id="btn-Entrar"> <!-- esse botão do lado direito, ao final da caixa de texto do login -->
                            <input type="submit" name="submit" class="btn-padrao fadeIn fourth btn-submit negrito" value="ENTRAR">
                        </div>
        
                    </form>
                    
                    <div id="formFooter">
                        <!-- links ou informações adicionais aqui -->
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>

    