{% extends 'base.html' %}

{% load static %}

    {% block titulo %}
        <title> Login | Sistema de Gestão de Demandas </title>
    {% endblock %}

    <body>

        {% block conteudo %}
            <div class="wrapper">
                <div id="formContent">
                    <div>
                        <p>Sistema de Gestão de Demandas</p>
                    </div>
                    
                    <p>Formulário de Login</p>

                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        
                        <label for="username"> Nome de Usuário: </label>
                        <input type="text" id="username" name="username" required>
                        
                        <label for="password"> Senha: </label>
                        <input type="password" id="password" name="password" required>
                        
                        <input type="submit" name="submit" class="fadeIn fourth" value="Entrar">
        
                    </form>
                    
                    <div id="formFooter">
                        <!-- links ou informações adicionais aqui -->
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>

    