{% extends 'base.html' %}

{% block titulo %}
    <title> Confirmação de Exclusão </title>
{% endblock %}

{% block conteudo %}
    <div>
        <h3> Confirmação de Exclusão </h3>

        <p> Tem certeza de que deseja excluir esta tarefa? </p>

        <p> <strong> Título: </strong> {{ tituloTarefa }} </p>

        <form method="post" onsubmit="return confirmSubmit()">
            {% csrf_token %}

            <div class="btn-cancelar-ConfirmarExclusao">
                <div class="btn-div-cancelar">
                    <a href="{% url 'demanda-listar' %}" class="btn-padrao btn-cancel"> Cancelar </a>
                </div>
                &nbsp;
                <div>
                    <button type="submit" class="btn-padrao btn-submit btn-confirmar-exclusao"> Confirmar Exclusão </button>
                </div>
            </div>

        </form>
    </div>

    <script>
        function confirmSubmit() {
            return alert('Exclusão realizada com sucesso!');
        }
    </script>

{% endblock %}

