{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    <title> Criação de Tarefas </title>
{% endblock %}


{% block conteudo %}

    <h3> Criar Tarefa </h3>

    <div class="form-container">

        <div class="form-criarTarefa">
            <form method="post" action="{% url 'criar_tarefa' demanda_id=demanda.id %}">
                {% csrf_token %}

                <div class="form-group form-item">
                    {{ form.tituloTarefa.errors }}
                        <label for="{{ form.tituloTarefa.id_for_label }}" class="negrito"> Título: </label>
                    {{ form.tituloTarefa }}
                </div>

<!--                 <div class="form-group form-item">
                    {{ form.conteudo.errors }}
                        <label for="{{ form.descricaoDemanda.id_for_label }} " class="negrito"> Conteudo: </label>
                    {{ form.conteudo }}
                </div> -->

                <div class="button-group">
                    <button class="btn-padrao btn-cancel "> 
                        <a href="{% url 'index' %}">  Cancelar </a>
                    </button>

                    <button type="submit" class="btn-padrao btn-submit"> Criar Tarefa </button>
                </div>
            </form>

        </div> <!-- Final div class="form-criarTarefa" -->

    </div>

        

    <div>
        <button class="btn-padrao btnVoltar" value="voltar" onclick="history.go(-1)"> Voltar </button>
    </div>

{% endblock %}

