.efeitoZoom:hover{
    transition: 0.8s;
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 5px black;
  }
  .mudarFundo{
    transition: 0.8s;
    background-image: url();
    background-size: cover;
    background-position-y: 70%;
    opacity: 80%;
  }

  .estilo-card {
    min-width: 18rem;
    min-height: 12rem;
    color: black;
    box-shadow: 1px 1px 5px black;
  }