*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

h3, h4{
    text-align: center;
    margin: 1.2rem;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
    margin: 1.2rem;
}

.tabela-listar-demandas{
    padding: 1.2rem;
}

/* .tabela-listar-demandas th{
    margin: 3rem;
} */

/* TESTANDO ************ */
.tabela-listar-demandas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-listar-demandas th, .tabela-listar-demandas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabela-listar-demandas th {
    background-color: #f2f2f2;
}

.list-link {
    color: #007bff;
}

.list-link:hover {
    color: black;
    font-weight: 700;
}
/* TESTANDO ************ */


/* Título da página inicial */
div.topo{
    text-align: center;
    margin: 2rem;
}

#logo-link{
    color: white;
}

div#texto-da-logo{
    margin: 1rem;
    padding: 0;
}

.logo-texto{
    margin: 0;
}


.barraMenu{
    width: 100%;
    justify-content: space-between;
}

ul.opcoesDoMenu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: .5rem;
}
ul.opcoesDoMenu li{
    margin-left: 3rem;
}

#usuarioLogado{
    padding-right: 25px;
    color: white;
    margin: 0;
}
p.usuarioLogado{
    margin: 0;
}



div#cards-principais a{
    color: white;
}

/* Cards do inicio (Criar, Listar, Mensagem) */
div.card-body{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.cardHover:hover{
    background-color: white;
    color: black;
}

/* div.cardHover2:hover{
    background-color: #6C757D;
    color: white;
} */


#btnVoltar{
    margin-bottom: .5rem; 
    padding: 5rem;
    width: 50rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #212529;
    color: #fff;
    margin-top: auto;
    box-sizing: content-box;
}

footer > div {
    margin-bottom: 0px;
}

footer div.itemRodape{
    padding: 1rem;
}


.detalhe-demanda{
    margin: auto;
    padding: 3rem;
}

/* TESTANDO *************** */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.custom-form {
    width: 60%; /* Ajuste a largura conforme necessário */
    text-align: left;
    margin-top: 20px; /* Espaçamento superior entre o título e o formulário */
}

.form-group {
    margin-bottom: 15px; /* Espaçamento inferior entre os grupos de campo */
}

.btn-submit {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* TESTANDO *************** */

.negrito{
    font-weight: 600;
}